<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/kidlat-css/css/kidlat.css">
  <title>MYCURE - 404 Page Not Found</title>
</head>

<style>
  #home-nav {
    position: fixed;
    width: 100vw;
    background-color: white !important;
    z-index: 999999;
  }

  .nav-box-shadow {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(148,148,148,1);
    box-shadow: 0px 0px 16px 0px rgba(148,148,148,1);
  }

  .not-found-container {
    padding: 65px 0px 20px 0px;
  }
</style>
<body>
  <div id="app">
    <nav id="home-nav" class="py-2 pl-4 nav-box-shadow">
      <div class="container" style="padding: 0px 0px 0px 7px;">
        <div class="row" style="width: 100vw;">
          <div class="col-xs-12">
            <a class="navbar-brand" href="#">
              <img src="../../../../src/assets/images/v4/mycure-logo.svg">
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container not-found-container">
      <div class="row align-items-center justify-content-md-center text-center" style="height: 72vh;"> 
        <div class="col">
          <img width="50%" src="../../../../src/assets/images/v4/mycure-online-offline-web-app-cms-emr-error-404-image-blue.png">
            <br>
            <br>
            <h5>Oh snap!</h5> 
            <span>There isn't any page like that in this site.</span> 
            <br>
            <span>Please check out our other pages instead.</span>
        </div>
      </div>
    </div>

    
    <footer class="bg-dark">
      <div class="container text-center">
        <div class="row py-5">
          <div class="col">
            <span>&copy; 2019</span>
            <span class="color-primary">MYCURE</span>
            <span>. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    <footer>

  </div>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          query: ''
        }
      },
      methods: {
        search() {
          location.href = location.origin + '/directory/?search=' + this.query
        }
      }
    });
  </script>
</body>
</html>