<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/kidlat-css/css/kidlat.css">
  <title>MYCURE Doctors - 404 Doctor Not Found</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-xs-12 col-md-7 text-center">
          <div class="card pt-5 pr-5 pb-5 pl-5">
            <h1>Aww snap! <br> There was an error!</h1>
            <br>
            <h2>500 Internal Server Error</h2>
            <a :href="home">Go back to home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      created() {
        this.home = location.origin;
      },
      data() {
        return {
          home: ''
        }
      }
    });
  </script>
</body>
</html>