<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MYCURE Doctors - Dr. {{data.name.firstName}} {{data.name.middleName}} {{data.name.lastName}}</title>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/kidlat-css/css/kidlat.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials-theme-flat.min.css" />
  <style>
    body {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .panel {
      padding: 50px;
    }

    .transparent-white {
      background-color: rgba(255, 255, 255, 0.7);
    }

    .transparent-primary {
      background-color: rgba(0, 153, 204, 0.8);
    }

    .round-img {
      border-radius: 100%;
      float: right;
    }

    .btn-panel-1 {
      min-width: 200px;
    }

    .mc-panel-title {
      font-size: 1.25rem;
    }

    .mc-panel-sub-title {
      font-size: 0.9rem;
    }
  </style>
</head>
<body style="background-image: url('https://firebasestorage.googleapis.com/v0/b/mycure-ab311.appspot.com/o/assets%2Fthemes%2Fblueskies.png?alt=media&token=66c8aac1-c090-4b2d-b6b1-56b1b0b2375a')" onload="init('{{data}}')">
  <div class="bg" id="app">
    <div class="container">
      <div class="row justify-content-center pt-3">
        <div class="col-xs-12 col-md-10" style="border: 1px solid red;">
          <nav class="navbar mc-navbar navbar-expand-lg navbar-dark bg-primary shadow-1">
            <a class="navbar-brand mc-text-white" href="#">Dr. {{data.name.firstName}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <i class="material-icons mc-text-white">menu</i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mc-navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#clinics">Clinics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" data-toggle="modal" data-target="#contactModal">Contact</a>
                </li>
              </ul>
              <ul class="navbar-nav mc-navbar-nav mr-right">
                <li class="nav-item">
                  <a class="nav-link" href="https://mycure.md">MYCURE</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center pt-3">
        <div class="col-xs-12 col-md-10" style="border: 1px solid red;">
          <div class="panel transparent-white">
            <div class="row mb-5">
              <div class="col-xs-12 col-md-4">
                <img width="230" src="{{data.picURL}}" alt="MYCURE Doctor" class="round-img shadow-1 right">
              </div>
              <div class="col-xs-12 col-md-8">
                <h2>Hi I am,</h2>
                <h1>Dr. {{data.name.firstName}} {{data.name.middleName}} {{data.name.lastName}}, MD</h1>
                <p>Neurologist, Pathologist</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <button class="btn btn-primary btn-panel-1" style="float: right;">Book an appointment</button>
              </div>
              <div class="col-xs-6 col-md-6">
                <button class="btn btn-secondary btn-panel-1">Share</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center pt-3">
        <div class="col-xs-12 col-md-10" style="border: 1px solid red;">
          <div class="panel transparent-primary color-white">
            <div class="row mb-5">
              <div class="col-xs-12 col-md-4">
                <div class="media">
                  <img class="mr-3" src="https://firebasestorage.googleapis.com/v0/b/mycure-ab311.appspot.com/o/assets%2Fdoctor-website%2Fmycure-doctor-web-ic-profile.png?alt=media&token=652269d1-752f-4d24-bb68-771f43a02d0a" alt="Generic placeholder image">
                  <div class="media-body">
                    <h2 class="mc-panel-title">Profile Summary</h2>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <h2 class="mc-panel-sub-title">
                  SPECIALIZATION
                </h2>
                <p>{{data.specialties}}</p>
                <h2 class="mc-panel-sub-title">
                  PRACTICING SINCE
                </h2>
                <p>{{data.practicingSince}}</p>
                <h2 class="mc-panel-sub-title">
                  EDUCATION
                </h2>
                {{#data.educations}}
                <div class="mb-2">
                  <span>{{degree}} at {{school}}</span><br>
                  <span>{{from}} - {{to}}</span>
                </div>
                {{/data.educations}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center pt-3">
        <div class="col-xs-12 col-md-10" style="border: 1px solid red;">
          <div class="panel transparent-white">
            <div class="row mb-5">
              <div class="col-xs-12 col-md-4">
                <div class="media">
                  <img class="mr-3" src="https://firebasestorage.googleapis.com/v0/b/mycure-ab311.appspot.com/o/assets%2Fdoctor-website%2Fmycure-doctor-web-ic-clinic.png?alt=media&token=d463417f-5526-44e1-92bf-92dd309d3868" alt="Generic placeholder image">
                  <div class="media-body">
                    <h2 class="mc-panel-title">Doctor Services</h2>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <ul style="list-style-type: none; padding: 0;">
                  {{#data.services}}
                  <li><i class="mc-text-primary">✔&nbsp</i> {{service}}</li>
                  {{/data.services}}
                </ul>
                <ul>
                    {{#data.$populated._clinics}}
                    <li>{{name}}</li>
                    {{/data.$populated._clinics}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center pt-3">
        <div class="col-xs-12 col-md-10" style="border: 1px solid red;">
          <div class="panel transparent-primary color-white">
            <div class="row mb-5">
              <!-- <div class="col-xs-12 col-md-4"> -->
                <!-- <div class="media"> -->
                  <!-- <img class="mr-3" src="https://firebasestorage.googleapis.com/v0/b/mycure-ab311.appspot.com/o/assets%2Fdoctor-website%2Fmycure-doctor-web-ic-clinic.png?alt=media&token=d463417f-5526-44e1-92bf-92dd309d3868" alt="Generic placeholder image"> -->
                  <!-- <div class="media-body"> -->
                    <!-- <h2 class="mc-panel-title">Doctor Services</h2> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
              <div class="col-xs-12 col-md-12">
                <ul>
                  {{#data.$populated._clinics}}
                  <li>{{name}}</li>
                  {{/data.$populated._clinics}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 pt-5">
            <div class="mc-text-white">
              <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                  <img src="https://firebasestorage.googleapis.com/v0/b/mycure-ab311.appspot.com/o/assets%2Fdoctor-website%2Fmycure-web-footer-icon-logo.png?alt=media&token=1dbf3ce9-defb-4283-be33-809383f55c4d" alt="MYCURE | The most advance clinic management system in the Philippines"><br>
                  <small>Born & Brewed in Manila.</small><br>
                  <small>© <span id="year"></span> MYCURE. All Rights Reserved.</small><br>
                  <small>Designed and Engineered by <a href="http://myteamops.com" class="mc-text-white">Team O.P.S. Inc.</a></small><br><br>
                  <small><a href="https://mycure.md/terms" class="mc-text-white">Terms and Conditions</a> and <a href="https://mycure.md/privacy-policy" class="mc-text-white">Privacy Policy</a></small>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <pre>{{_data}}</pre>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVv9FESRUgQ3xZqxe1EZimGztmMgpYN5A&callback=paintMap" async defer></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials.min.js"></script>
  <script>
    function init(data) {
      console.log('init')
      console.log(data);
      var foo = JSON.parse(data);
      console.log(foo);
      localStorage.setItem('data', data);
      console.log(foo);
      console.log('init')
    }
  </script>
</body>
</html>